@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transform: .2s linear;

}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.btn {
    display: inline-block;
    font-size: 1.7rem;
    color: red;
    background: none;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border: 1px solid red;
    cursor: pointer;
    border-radius: .5rem;
}

.btn:hover{
    background: red;
    color: #fff;
}

/* INCIO DO CABEÇALHO SITE LUCAS NOLACIO */


.top-do-site {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    background: red;
    box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.1);
}


.top-do-site .logo {
    font-size: 2.5rem;
    color: aliceblue;
    font-weight: bolder;
}

.top-do-site .logo i{
    color: yellow;
    rotate: 175deg;
}

.top-do-site .menu-site a{
    color: aliceblue;
    font-size: 1.7rem;
    margin: 0 1rem;

}



.top-do-site .menu{
    display: none;
}



.top-do-site .menu-site a:hover {
    color: yellow;
   
}

.top-do-site .icons div{
    color: aliceblue;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
}

.top-do-site .icons div:hover{
    color: yellow;
}

#menu{
    display: none;
}


.top-do-site .carrinho{
    width: 35rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow:0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 115%;
    right: -105%;
    padding: 1.5rem;
}

.top-do-site .carrinho.active{
  right: 1.5rem;
  transition: .2s linear;  
}

.top-do-site .carrinho .box{
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
    align-items: center;
}

.top-do-site .carrinho .box .fa-times{
    position: absolute;
    top: 60%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #777;
    cursor: pointer;
}

.top-do-site .carrinho .box .fa-times:hover{
    color: red;
}

.top-do-site .carrinho .box img {
    height: 10rem;
}

.top-do-site .carrinho .box .content h3{
    font-size: 1.7rem;
    padding-bottom: .5rem;
    color: #130f40;
}

.top-do-site .carrinho .box span{
    font-size: 1.7rem;
    color:#777
}

.top-do-site .carrinho .box .content span.multiplica{
    margin: 0.5rem;
}

.top-do-site .carrinho .total {
    font-size: 2.2rem;
    color: #130f40;
    text-align: center;
}

.top-do-site .carrinho .btn{
    width: 100%;
    text-align: center;
}

.top-do-site .login-form {
    position: absolute;
    top: 105%;
    right: -105%;
    background: #fff;
    box-shadow:0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    width: 35rem;
    padding: 2rem;
}


.top-do-site .login-form.active {
    right: 1.5rem;
    transition: .2s linear; 
}

.top-do-site .login-form h3{
    font-size: 2rem;
    color: #130f40;
    text-transform: uppercase;
    margin-bottom: .7rem;
    text-align: center;

}

.top-do-site .login-form .box{
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    border: 1px solid rgba(0,0, 0, 0.1);
    width: 100%;
    text-transform: none;
    color: #130f40;

}

.top-do-site .login-form .lembra-senha{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .7rem 0;  
}

.top-do-site .login-form .lembra-senha label {
    font-size: 1.5rem;
    color: #777;
    cursor: pointer;   
}

.top-do-site .login-form .btn {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.nlflix-destaque {
    padding: 0;

}

.nlflix-destaque .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size:cover !important;
    background-position: center !important;

}

.nlflix-destaque .slide .content{
    display: none;
    width: 60rem;
    text-align: center;
}

.nlflix-destaque .slide .content h3 {
    font-size: 6rem;
    line-height: 1.3;
    color: #fff;
    padding: 2rem 0;
    animation: sliderMaykon 1s eas forwards;
}

.nlflix-destaque .slide .content span {
    color: yellow;
}

.nlflix-destaque .slide .content .btn {
    background: red;
    color: #fff;
}

.nlflix-destaque .slide .content .btn:hover{
    background: yellow;
    color: #130f40;
    border: none;
    animation: sliderReval 1s eas forwards
}

.nlflix-destaque .swiper-slide-active .content{
    display: inline-block;
}

.nlflix-destaque .swiper-slide-active{
    animation: msflixScale 4s linear forwards;
}


@keyframes sliderMaykon {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes msflixScale {
    0%{
        transform: scale(1);
        
    }

    100%{
        transform: scale(1.15); 
    }
}

.swiper-button-prev,
.swiper-button-next{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    margin-left: 1.5rem;
    color: red;
    border: .1rem solid red;
    transform: translateY(-50%) rotate(45deg);
    
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 1.5rem;
    transform: rotate(-45deg);
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: #fff;
    background-color: red;
}


@media(max-width:991px){
     html{
        font-size:55%
     }
     section{
        padding: 2rem;
     }

}

@media(max-width: 667px) {
    .top-do-site .icons #menu {
        display: inline-block;
        
    }

    .top-do-site .menu-site {
        display: none;
        position: absolute;
        right: -100%;
        transition: right 0.2s linear;
    }

    .top-do-site .menu-site.active {
        right: 2rem;
    }

    .top-do-site .menu-site a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        
    }
}
